@using Metawision.Blog.Models;

@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <div class="container">
        <div class="title-container">
            <div class="in-page-title">
                <div class="title-headings">
                    <h1>بلاگ</h1>
                </div>
            </div>
        </div>
    </div>
</div>


@{  
    int pagenum = 1;
    if (ViewContext.RouteData.Values["id"] != null)
    {
        pagenum = Convert.ToInt32(ViewContext.RouteData.Values["id"].ToString());
    }

}

<br />
<div class="container-fluid">
    <div class="row" style="padding:0;">
        @{
            Html.RenderPartial("postsInSlider");
        }
    </div>
    <div class="col-md-12" style="height: 50px;">

    </div>
    <div class="container-fluid col-lg-12" style="padding: 0px">
        <div class="col-md-3" style="height:500px; padding:0px 15px 0px 0px;">
            <div class="section-title">
                <h3>جدیدترین مقالات متاورس</h3>
            </div>
            <div class="article-feed">
                @{
                    Html.RenderPartial("getRelatedArticlesList");
                }
            </div>
        </div>
        <div class="col-md-9" style="height: auto; padding: 0px 0px 0px 15px;">
            <div class="article-feed">
                @{
                    Html.RenderPartial("getLatestArticleList", pagenum);
                }
            </div>
        </div>
    </div>
</div>


<script>


</script>

