@using Metawision.Blog.Models.bl;
@model int

@{ 
    int artid = commentsManager.GetComment(Model).idArticle;
    string st = "t" + Model.ToString();
}
    <button onclick='$(".tempcss").slideUp(); $("#@st").slideToggle();' class="btn-show">reply</button>

<div class="tempcss" id="@st" style="border:1px solid #ccc; padding:10px;display:none;">

    <form method="post" action="~/home/saveComments">
        <div class="col-md-12">
<textarea name="body" style="height:200px; width:100%"></textarea>
            </div>
            <input type="text" name="idArticle" style="visibility:hidden; display:none" value="@artid" />
            <input type="text" name="replyToId" style="visibility:hidden; display:none" value="@Model" />
            <input type="text" name="idUser" style="visibility:hidden; display:none" value="1"/>

            <button type="submit" class="btn btn-primary btn-sm btn-block">فرستادن دیدگاه</button>
    </form>
</div>
