@using Metawision.blog.Models;

@model int

@{
    ViewBag.Title = "Home Page";
}

@{
//var t = new Temp();
//Temp t = new Temp();
//var i = t.sum(10, 5);
    @*var i = Temp.sumStatic(10, 5);

        @DateTime.Now
        <hr />
        t = @i*@
    @Model
}
Model

<br />
<div class="container-fluid">
    <div class="col-md-8 col-lg-offset-2" style="background-color: #0099ff; height: 600px;">

    </div>
    <div class="col-lg-8 col-lg-offset-2" style="background-color: #fff; height: 50px;">

    </div>
    <div class="container-fluid col-lg-8 col-lg-offset-2">
        <div class="col-lg-3" style="background-color:#ff0000; height:auto;">

        </div>
        <div class="col-lg-9" style="background-color: #e3e6e8; height: auto;">
            @{
                Html.RenderPartial("getLatestArticleList");
             }
        </div>
    </div>
</div>


<script>
  

</script>