@using Metawision.Blog.Models;


@{
    var artList = articleManager.getAllArticle();
    var sliceOne = artList.Take(3);
    var sliceTwo = artList.Skip(3).Take(3);

    <div class="slider-container">
        @foreach (var art in sliceOne)
        {
            <div class="slider-cell col-lg-4 col-md-6 col-sm-12">
                <div class="cell-cover">
                    <img src="@art.pic" style="width:100%" />
                </div>
                <div class="cell-title">
                    <h3>
                        <a href="~/Home/article/@art.Id">
                            @art.title
                        </a>
                    </h3>
                </div>
            </div>
        }
    </div>
    <div class="slider-container">
        @foreach (var art in sliceTwo)
        {
            <div class="slider-cell col-lg-4 col-md-6 col-sm-12">
                <div class="cell-cover">
                    <img src="@art.pic" style="width:100%" />
                </div>
                <div class="cell-title">
                    <h3>
                        <a href="~/Home/article/@art.Id">
                            @art.title
                        </a>
                    </h3>
                </div>
            </div>
        }
    </div>

}
