@using Metawision.Blog.Models.bl;
@model int





        @{
            var childList = commentsManager.getParentCommentChilds(Model);
            foreach (var item in childList)
            {

                <div style="border:dotted 3px #00ff21" ; padding:10px; margin-top:10px;">
                    <p>@item.body</p>
                    <hr/>
                    @{
                        Html.RenderPartial("getReplyComments", item.id);
                        Html.RenderPartial("showChildComments", item.id);
                     }
             </div>


                    }

                    }

