@using Metawision.Blog.Models.bl;
@model int


<div style="border:solid 2px #ff0000 ; padding: 10px;">
    @{ 
        var parentList = commentsManager.getArticleAllParentComments(Model);
        foreach (var item in parentList)
        {
            <p>@item.body</p>
            Html.RenderPartial("getReplyComments", item.id);
           Html.RenderPartial("showChildComments", item.id);
            <hr/>
        }

    }

    </div>
