<h2>UploadFile</h2>


<form method="post" action="uploadFile" enctype="multipart/form-data">
    <div>
        <input type="file" name="file" id="file" />
        <br />
        <input type="submit" value="upload" />
    </div>



</form>

